<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="$\..\packages" />
  </config>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSources>
    <clear />
	  <!--The private feed for WinUI dependencies (Microsoft ui xaml), which developers have no permission or resources to download any they want with updated versions or packs-->
    <!--<add key="MUX-Dependencies" value="https://pkgs.dev.azure.com/shine-oss/microsoft-ui-xaml/_packaging/MUX-Dependencies/nuget/v3/index.json" />-->

    <!-- a local directory to allow testing nupkg files without pushing to a remote feed -->
    <add key="packagestore" value="packagestore" />
    <add key="nuget org official" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
